local_test/ml_vol/
**/test_results/
**/artifacts
ml_vol/outputs/
**/examples/**/*.txt

artifacts/
hpt_results/

**/*_no_hpt.csv
**/*_with_hpt.csv
**/model_*_*_*.json


.DS_Store
.idea/
src/test.py
model_inputs_outputs/model/
model_inputs_outputs/outputs/predictions/*.csv
logs.log
configs
AutogluonModels/
__pycache__/
*.py[cod]
*$py.class
.tox/
.coverage
.cache
.pytest_cache/
coverage.xml
*.cover
.coverage*


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

